@black: #000;
@black2: #0C0C0C;
@white: #FFFEFE;//use for header text
@fuschia: #B49FCC;//button bg
@gray: #292B2D;
@gray2:#8E99A2; //for placeholders/input text
@path-fonts: '../assets/fonts';
@success-font-size:20px;


@navbar-font-family:'CircularStd-Bold';
@navbar-font-size:22px;
@text-title-font:'@{path-fonts}/CircularStd-Bold.otf';

@title-font-family:'Maison Neue Bold';
@title-font-size:17px;
@navbar-title-font:'@{path-fonts}/Maison Neue Bold.otf';

@bg-color: @black;
@primary-text: @white;
@primary-button: @fuschia;
@border-color: @gray;



@font-face{

  font-family: @title-font-family;
  font-weight: 600;
  font-style: normal;
  src:url(@text-title-font)

}

@font-face{

  font-family: @navbar-font-family;
  font-weight: 600;
  font-style: normal;
  src:url(@navbar-title-font)

}




