@import '_globals.less';
.navbar {

  font-family: @navbar-font-family;
  background-color: @bg-color;
  color: @primary-text;

  .center {
    font-size: @navbar-font-size;
  }

  a {
    color: @black;
    font-family: @text-title-font;
    font-size: @title-font-size;
    text-decoration: none;
  }


}
.page{
  background-color: @bg-color;
}
.content-block-title{
  color: @primary-text;
  text-transform: none;
}
.list-block{
  ul {
    background-color: @black2;
    border: #292B2D;

  }
}
.primary-button{
  color: @white;
  background-color: @primary-button;
  border: none;
  padding: 8%;
  line-height: 5%;
  font-family: @text-title-font;
  font-size: @title-font-size;
}


.content-block-title{

  font-family: @text-title-font;
  font-size: @title-font-size;
}
