<script>
    import firebase from '../providers/firebase'

    export default {

        firebase () {
            return {
                profile: {
                    source: firebase.database().ref(`profile`),
                    asObject: true,
                    readyCallback () {
                        this.profile.gender = this.profile.gender || ''
                        this.profile.type = this.profile.type || ''
                    }
                }
            }
        },

        methods: {
            async save () {
        await this.$validator.validateAll()

        let data = { ...this.profile }
        delete data['.key']
        delete data['.value']
        this.$firebaseRefs.profile.set(data)

        this.$router.load({ url: '/submitted' })
    }
    }
    }
</script>
<style lang="less" scoped>
  @import '../less/_globals.less';
</style>

<style lang="less">
  @import '../less/_globals.less';
  .list-block{
    input[type="text"], textarea, .item-title{
      color: @gray2;
      font-family: @text-title-font;
      font-size: @title-font-size;
    }
  }
</style>
<template>
  <f7-page>
    <f7-navbar title="Profile"></f7-navbar>

    <f7-block-title>Alias</f7-block-title>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <f7-input type="text" v-validate="'required'" name="name" v-model="profile.name" placeholder="Your alias"/>
          <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
        </f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block-title>You are</f7-block-title>
    <f7-block>
      <f7-list v-if="profile['.key']">
        <f7-list-item v-model="profile.type" radio name="type" value="escort" input-value="escort" title="Escort" checked></f7-list-item>
        <f7-list-item v-model="profile.type" radio name="type" value="massage" input-value="massage" title="Masssage"></f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block-title>Gender</f7-block-title>
    <f7-block>
      <f7-list v-if="profile['.key']">
        <f7-list-item v-model="profile.gender" radio name="gender" value="male" input-value="male" title="Male" checked></f7-list-item>
        <f7-list-item v-model="profile.gender" radio name="gender" value="female" input-value="female" title="Female"></f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block-title>About You</f7-block-title>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <f7-input type="text" v-model="profile.age" placeholder="Your age"/>
        </f7-list-item>
        <f7-list-item>
          <f7-input type="text" v-model="profile.height" placeholder="Your height"/>
        </f7-list-item>
        <f7-list-item>
          <f7-input type="text" v-model="profile.body" placeholder="Your body description"/>
        </f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block-title>Description</f7-block-title>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <f7-input v-model="profile.about" type="textarea" placeholder="Enter a few words about yourself.." />
        </f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block>
      <f7-button @click="save" class="primary-button">Save &amp; Continue</f7-button>
    </f7-block>
  </f7-page>
</template>