
<style lang="less" scoped>
  @import '../less/_globals.less';

  .message.is-success
  {
    background-color: @fuschia;
    margin: 50px;
    position: absolute;
    width: 360px;
    z-index: 15;
    top: 50%;
    left: 50%;
    border:@black2;
    margin: -100px 0 0 -180px;


    .message-body{

      font-family: @navbar-font-family;
      font-size: @success-font-size;
      color:@white;
      border:none;

    }
  }
</style>


<template>
  <f7-page>
    <f7-navbar title="Submitted" back-link="Back" sliding>
    </f7-navbar>

    <article class="message is-success">
      <div class="message-body">
        Your profile has been submitted.
      </div>
      <i class="icon check-round"></i>
    </article>

  </f7-page>
</template>