<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" navbar-through :dynamic-navbar="true" main url="/">
        <!-- iOS Theme Navbar -->
        <f7-navbar>
          <f7-nav-center></f7-nav-center>
        </f7-navbar>
        <!-- Pages -->
        <f7-pages />
      </f7-view>
    </f7-views>

  </div>
</template>